.homePageContainer {
  min-height: 100vh;

  .pageContainer {
    padding: 2rem;

    .title {
      margin-top: 3rem;
      margin-bottom: 7rem;
      font-size: 4rem;
      font-weight: bold;
    }

    .productsInfoMessage {
      font-size: 2rem;
      font-weight: 600;
    }

    .cardsContainer {
      display: flex;
      column-gap: 3rem;
    }
  }
}
